# NetBeans build output
build/
dist/
nbproject/private/
nbbuild/
nbdist/
.nb-gradle/
nbproject/build-impl.xml

# Compiled files
*.class
*.jar

# macOS
.DS_Store

# Windows
Thumbs.db
/ProfileWorkareaExample-Midterm/ProfileWorkareaExample/nbproject/private/
